*{
    padding: 0;
    margin: 0;
    
    }
    
    header{
    
    background-color: #777777 ;
    color: rgb(218, 222, 228);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    }
    

    
    .parana-texto-um{
    display: inline-block;
    margin: 0 16px;
    font-size: 300px;
    
    
    }
    
    .cabeçalho{
    width: 28%;
    
    }
    
    .parana-texto-dois{
    background-image: linear-gradient(#777777);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px
      
}
.parana{
    font-size: xx-large;
    margin: 0%;
    padding: 2%;
    
}
    
    .parana-dois{
 font-size: xx-large;
 margin: 2%;
    }
    
    .cataratas-div{
width: 20px;
size: 2cap;

}

   .jardim-botanico-div{
 width: 20px;
 size: 2cap;


   }
 
   .parque-das-aves-div{
width: 20px;
size: 2cap;

  }

   .parque-vila-velha-div{
width: 20px;
size: 2cap;

   }